@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap");
.ff_pj {
  font-family: "Plus Jakarta Sans";
}
.ff_inter {
  font-family: "Inter";
}
.challengecard:hover .challenge path {
  fill: #61c0bf;
}
.challengecard:hover .hover_black {
  color: black !important;
}
.aicard:hover .aiwork path{
  fill: rgb(255, 255, 255);
}
.aicard:hover .aiwork rect{
  fill: #61C0BF;
}
.aicard:hover .aipera{
 color: black;
}